.footer {
  background: var(--gradient-bt);
  color: var(--white);
  font-family: var(--sans-serif);
  /* Footer has no height if not set */
  width: 100%;
  overflow: hidden;
  box-shadow: var(--shadow-four);
}

.ft-section {
  padding: 2rem;
  padding-bottom: 1rem;
}

.ft-header {
  margin-bottom: 0.3em;
}

.ft-link {
  text-decoration: none;
  transition: color var(--ts-s);
}

.ft-link:hover {
  color: var(--grey-l);
}

.ft-social {
  margin-top: 0.65em;
}

.ft-social li {
  display: inline;
}

.ft-social-icon {
  text-decoration: none;
  color: var(--white);
  font-size: 1.25rem;
  margin-right: 0.25rem;
}

.ft-social-icon i {
  transition: color var(--ts-s);
} 

.ft-social-icon i:hover, .ft-social-icon i:active, .ft-social-icon i:focus {
  color: var(--grey-l);
}

.footer-bottom {
  clear: both;
  text-align: center;
  font-size: 0.69em;
  font-weight: 400;
  padding: 1rem 2rem;
}

.footer-bottom a.no-link:hover {
  text-decoration: underline;
}
