.f-fx-wrpr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-input-fx-wrpr {
  flex-grow: 1;
}

.f-fx-wrpr .icon-search {
  flex-basis: 1.5rem;
  flex-shrink: 0;
  margin-right: 0.2em;
  margin-top: 0.1em;
}

.button-fx {
  margin-left: 1em;
  flex-basis: 10rem;
  flex-shrink: 0;
}

.f-input-wrpr {
  margin-bottom: 2em;
}

.f-input {
  padding: 0.5em 0;
  border: none;
  border-bottom: 1px solid var(--grey-l);
  font-family: var(--sans-serif);
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  width: 100%;
  text-align: left;
  outline: none;
  width: 100%;
  resize: none;
}

textarea {
  resize: vertical!important;
}

.f-underline {
  position: relative; 
  display: block; 
  width: 100%;
  bottom: -2px;
}

.f-underline:before, .f-underline:after   {
  content: '';
  height: 2px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  transition: var(--ts-s); 
}

.f-underline:before {
  left: 50%;
}

.f-underline:after {
  right: 50%; 
}

/* active state */
.f-input:focus ~ .f-underline:before, .f-input:focus ~ .f-underline:after {
  width: 50%;
}

.error {
  font-size: 0.7em;
  margin-top: 0.4em;
  color: var(--pink);
}

/* colors */
.f-tq .f-underline:before, .f-tq .f-underline:after {
  background: var(--pink-l);
}

.f-tq .error {
  color: var(--pink);
}

.f-white .f-underline:before, .f-white .f-underline:after {
  background: var(--white);
}

.f-white .error {
  color: var(--grey-l);
}



.contact {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.contact-form, .contact-content {
  width: 46%;
  float: left;
}

.contact-form {
  margin-right: 4%;
}

.contact-content {
  margin-left: 4%;
}

.contact-text {
  font-size: 1em!important;
}

.contact-header {
  margin-top: 0.8rem;
}

.contact-header:first-child {
  margin-top: 0.5rem;
}

.card-content .contact-content a {
  box-shadow: none;
  color: var(--tq);
  text-decoration: none;
}

.card-content .contact-content a:hover, .card-content .contact-content a:active, .card-content .contact-content a:focus {
  background: none;
  color: var(--tq-l);
}


@media (--mobile) {
  .button-fx {
    display: none;
  }

  .f-fx-wrpr {
    width: 100%;
  }

  .contact-form, .contact-content {
    width: 100%;
  }

  .contact-form {
    margin-right: 0;
  }

  .contact-content {
    margin-left: 0;
    margin-top: 3rem;
  }
}