.sliders-slide {
  height: 100%;
  background-size: cover !important;
  box-shadow: var(--shadow-three);
  background-position: center center;
}


/* MAIN SLIDE */

.sliders {
	width: 100%;
	height: 86.5vh;
	min-height: 33rem;
	border: 0.5em solid var(--background-color);
}

.sliders-main {
	width: 70%;
	height: 100%;
	float: left;
	border: 0.5em solid var(--background-color);
}

.sliders-subheader {
  padding: 0.8em 1em 1.2em;
  text-transform: lowercase;
}

.slider-button {
  margin: 0 auto;
}

 

/* SIDE SLIDES */

.sliders-side {
	width: 30%;
	height: 100%;
	float: left;
}

.sliders-hero {
  background: var(--grey-l);
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sliders-hero:hover .card-image {
  transform: scale(1.075);
}

.sliders-content {
  position: absolute;
  bottom: 0;
  padding: 1em;
}

.sliders-side-header {
  padding: 1rem 1.25rem 0;
}

.slide-content {
  position: relative;
  overflow: hidden;
  padding: 1.5rem 1.25rem;
}

.sliders-top, .sliders-bottom {
	height: 50%;
	border: 0.5em solid var(--background-color);
}



@media (--tablet-l) {
	.sliders-main {
		width: 100%;
	}

	.sliders-side {
		width: 100%;
    height: 50%;
	}

	.sliders-top, .sliders-bottom {
		width: 50%;
		float: left;
    height: 98%;
	}
}


@media (--mobile) {
	.sliders-main {
		height: 80%;
	}

  .sliders-side {
    height: 100%;
  }

	.sliders-top, .sliders-bottom {
		width: 100%;
    height: 49%;
	}

  .fp-section-link.block {
    display: none;
  }
}




/* SECTIONS */

.fp-header-ctnr {
	padding: 0.25rem 0.75rem;
  overflow: hidden;
}

.fp-content-ctnr {
  clear: both;
}

.fp-card-hero {
  background: var(--grey-d);
  position: relative;
  height: 10rem;
  width: 100%;
  overflow: hidden;
}

.fp-section-link {
  margin-top: 1.5em;
}



/* DOWNLOADS */

.download-icon {
  width: 1em;
  font-size: 1.8em;
  margin-right: 1rem;
  transition: color var(--ts-m);
  height: 100%;
}

.download-name {
  font-size: 1em;
  margin-top: 0.3em;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--tq);
  transition: text-decoration var(--ts-m), color var(--ts-m);;
}

.card-3-hover:hover .download-name {
  color: var(--tq-l);
  text-decoration: underline;
}

.card-3-hover:hover .download-icon {
  color: var(--blue-l);
}



/* PARTNERS */

.partner {
  width: 80%;
  margin: 0 10%;
}