/* HELPERS */

.no-scroll {
  height: 100%;
  overflow: hidden;
}

.clear:before {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

.block {
  display: block;
}

.inline {
  display: inline !important;
}

.overflow {
  overflow: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.m0a {
  margin: 0 auto;
}

.mv {
  max-width: var(--max-width);
}

.margin-top-05 {
  margin-top: 0.5em;
}

.margin-top-1 {
  margin-top: 1em;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-shadow {
  text-shadow: var(--shadow-text);
}

.text-no-cap {
  text-transform: none;
}

.float-none {
  float: none !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.b-white {
  background-color: var(--white);
}

.b-grey-d {
  background: var(--grey-d);
}

.b-pink {
  background-color: var(--pink);
}

.white {
  color: var(--white);
}

.grey-l {
  color: var(--grey-l);
}

.grey-m {
  color: var(--grey-m);
}

.grey-d {
  color: var(--grey-d)!important;
}

.blue {
  color: var(--blue);
}

.tq {
  color: var(--tq)!important;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.full-width {
  width: var(--min-width);
  max-width: var(--article-width);
  margin: 0 auto;
}

.article-width--3 {
  max-width: 53rem;
}

.shadow-3 {
  box-shadow: var(--shadow-three);
}