.f-search {
  padding: 1em 1.5em;
  background-color: var(--white);
  margin: 1.5em auto;
  width: var(--min-width);
  max-width: var(--article-width);
}

input[type="search"] {
  padding: 1em;
  font-size: 1.2em;
  padding: 0.2em 0;
}



/* SEARCH RESULTS */

.search-keyword {
  padding: 0.8em 1.8em;
}

.search-url {
  margin: 0.5em 0;
  transition: text-decoration var(--ts-s);
}

.card-3-hover:hover .search-url {
  text-decoration: underline;
}

.search-result-card {
  margin-bottom: 1.5em;
}