/* THEME SLICK */

.slick-prev, .slick-next {
  background: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  outline: none;
  padding: 0;
  position: absolute;
  transform: translate(0, -50%);
}

.slick-prev:before, .slick-next:before {
  font-family: 'wk-website';
  font-size: 1.25rem;
  line-height: 1;
  color: white;
}

.slick-prev::before {
  content: 'l';
}

.slick-next::before {
  content: 'r';
}

.slick-lightbox .slick-prev, .slick-lightbox .slick-next {
  top: 50%;
}

#slider-main .slick-next {
  right: 32%;
}

#slider-main .slick-prev {
  left: 32%;
}

#slider-main .slick-next, #slider-main .slick-prev {
  bottom: 1.05rem;
  text-shadow: var(--shadow-text);
}

.slick-dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-dots li {
  display: inline;
}

/** The actual dots **/
.slick-dots button {
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: 3px solid var(--white);
  color: transparent;
  font-size: 0;
  margin: 0 10px;
  outline: none;
  padding: 6px;
  box-shadow: var(--shadow-three);
}

.slick-dots .slick-active button {
  background: var(--white);
}

/* Overrides */

.slick-track, .slick-list {
  height: 100% !important;
}


@media (--tablet-p) {
  #slider-main .slick-next {
    right: 29%;
  }

  #slider-main .slick-prev {
    left: 29%;
  }
}

@media (--mobile) {
  #slider-main .slick-next {
    right: 17%;
  }

  #slider-main .slick-prev {
    left: 17%;
  }

  #slider-main .slick-next, #slider-main .slick-prev {
    width: 1.1rem;
    height: 1.1rem;
  }

  .slick-dots button {
    border: 2px solid var(--white);
    width: 10px;
    height: 10px;
    padding: 4px;
    margin: 0 8px;
  }
}