:root {


  /*COLORS*/
  --blue: #115bb0;
  --blue-l: #1674DF;
  --tq: #00aaa5;
  --tq-l: #00CCC5;
  --tq-b: #91ebe1;
  --pink: #ad1644;
  --pink-l: #CB1A4F;
  --violet: #741669;
  --violet-l: #921C84;
  --grey-l: #dddddd;
  --grey-m: #888888;
  --grey-d: #646464;

  --white: #ffffff;
  --black: #222222;
  --background-color: #f4f2f2;


  /*GRADIENTS*/
  --gradient-bt: linear-gradient(to right, var(--blue), var(--tq));
  --gradient-tb: linear-gradient(to right, var(--tq), var(--blue));
  --gradient-vp: linear-gradient(to right, var(--violet), var(--pink));
  --gradient-pv: linear-gradient(to right, var(--pink), var(--violet));


  /*SHADOWS*/
  --shadow-two: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.08);
  --shadow-three: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 3px -2px rgba(0, 0, 0, 0.16), 0 1px 8px 0 rgba(0, 0, 0, 0.08);
  --shadow-four: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.16);
  --shadow-six: 0 6px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 18px 0 rgba(0, 0, 0, 0.08), 0 3px 5px -1px rgba(0, 0, 0, 0.16);
  --shadow-eight: 0 8px 10px 1px rgba(0, 0, 0, 0.1), 0 3px 14px 2px rgba(0, 0, 0, 0.08), 0 5px 5px -3px rgba(0, 0, 0, 0.16);
  --shadow-sixteen: 0 16px 24px 2px rgba(0, 0, 0, 0.1), 0 6px 30px 5px rgba(0, 0, 0, 0.08), 0 8px 10px -5px rgba(0, 0, 0, 0.16);

  --shadow-text: 0px 0px 0.2em var(--grey-m);


  /*BREAKPOINTS*/
  --max-width: 100rem;
  --min-width: 95%;
  --article-width: 50rem;
  --sidebar-width: calc(var(--article-width)*1.12);
  --card-width: 75rem;
  --desktop: 80rem;
  --tablet-l: 65rem;


  /*TYPOGRAPHY*/
  --serif: "Roboto Slab", serif;
  --sans-serif: "Open Sans", "Helvetica", sans-serif;
  --serif-thin: 400;
  --serif-thick: 700;
  --sans-serif-thin: 400;
  --sans-serif-thick: 800;


  /*ANIMATIONS*/

  --ts-s: 0.2s cubic-bezier(0, 0, 0.2, 1);
  --ts-m: 0.35s cubic-bezier(0, 0, 0.2, 1);
  --ts-l: 0.8s cubic-bezier(0, 0, 0.2, 1);
}



/*MEDIA QUERIES*/
@custom-media --maximum all and (max-width: 100rem);
@custom-media --desktop-min all and (min-width: 80rem);
@custom-media --desktop all and (max-width: 80rem);
@custom-media --tablet-l-min all and (min-width: 65rem);
@custom-media --tablet-l all and (max-width: 65rem);
@custom-media --tablet-p all and (max-width: 55rem);
@custom-media --mobile all and (max-width: 40rem);
@custom-media --mobile-min all and (min-width: 40rem);