.cards {
  width: 100%;
  overflow: hidden;
  max-width: var(--card-width);
  margin: 0 auto;
  padding: 0.75rem;
}

@media (--mobile) {
  .cards {
    padding: 0.75rem 0;
  }
}

.card-ctnr {
  padding: 0.75rem;
}

.card-3 {
  background-color: var(--white);
  box-shadow: var(--shadow-three);
  max-width: var(--article-width);
  overflow: hidden;
  transition: box-shadow var(--ts-m);
}

.card-3-hover:hover {
  box-shadow: var(--shadow-eight);
}


/* CARD CONTENTS */

/* enables zoom effect*/
.card-hero {
  background: var(--grey-d);
  position: relative;
  height: 12rem;
  width: 100%;
  overflow: hidden;
}

.card-image {
  background-position: center center!important;
  background-size: cover !important;
  height: 100%;
  position: relative;
  width: 100%;
  transition: transform var(--ts-m);
}

.card-image:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  content: '';
  transition: opacity var(--ts-m);
}

.card-3-hover:hover .card-image:after {
  opacity: 0.55;
}

.card-3-hover:hover .card-image {
  transform: scale(1.075);
}


.card-header {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  text-shadow: var(--shadow-text);
  color: var(--white);
}

.card-header.small {
  padding: 1.25rem;
}

.card-content {
  position: relative;
  overflow: hidden;
  padding: 1.5rem 2rem;
}

.card-content.small {
  padding: 1rem 1.25rem;
}

.card-footer {
  padding: 0.9rem 2rem 0.9rem;
  border-top: 0.12rem solid var(--grey-l);
  border-bottom: 0.12rem solid var(--grey-l);
  overflow: hidden;
}

.card-footer.small {
  padding: 0.6rem 1.25rem 0.7rem;
}

.card-content a {
  box-shadow: inset 0 -0.2rem 0 var(--tq-l);
  color: black;
  text-decoration: none;
  transition: background var(--ts-s), color var(--ts-s);
}

.card-content a:hover, .card-content a:active, .card-content a:focus {
  background: var(--tq-l);
  color: var(--white);
}