<perch:help>
</perch:help>

<perch:content id="sidebar" type="checkbox" label="Display sidebar" value="hasSidebar" suppress="true" />

<perch:if exists="sidebar">
  <div id="sidebar">
    <h1>Related links</h1>
    <perch:repeater id="sidebarlinks" label="Sidebar links">
      <p><a href="<perch:content id="sidebarlink" type="url" label="Link"required="true" help="Add the link." />"><perch:content id="sidebartext" type="text" label="Name"required="true" help="Add the name." title="true"/></a></p>
    </perch:repeater>
  </div>  
</perch:if>