<div class="card-ctnr layout-321">
  <perch:if exists="small"><a class="no-link" href="album.php?s=<perch:gallery id="albumSlug" />">
    <div class="card-3 card-3-hover gallery-card">
      <div class="gallery-hero">
        <div class="card-image" style="background: url(<perch:gallery id="small" />)">
        </div>
        <h1 class="card-header medium"><perch:gallery id="albumTitle" type="text" chars="40" append"…" /></h1>
      </div>
      <div class="card-content">
    		<p class="small"><perch:gallery id="albumDescription" type="textarea" chars="160" append"…" /></p>
	    </div>

	    <div class="card-footer small">
		    <p class="date float-left"><perch:content id="video" type="youtube" chars="15" append="…" output="user_name" /></p>
	        <ul id="social" class="float-right">
				<li class="social-item"><a class="social-icon facebook no-link" href="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=https://waterford.sz/news/photos/album.php?s=<perch:gallery id="albumSlug" />', 'Facebook', 'width=600, height=400' )"><i class="icon-facebook"></i></a></li>
				<li class="social-item"><a class="social-icon twitter no-link" href="javascript:window.open('http://twitter.com/share?text=<perch:gallery id="albumTitle" type="text" chars="40" append"…" />&url=https://waterford.sz/news/photos/album.php?s=<perch:gallery id="albumSlug" />', 'Twitter', 'width=600, height=400' )"><i class="icon-twitter"></i></a></li>
				<li class="social-item"><a class="social-icon email no-link" href="mailto:?subject=<perch:gallery id="albumTitle" type="text" chars="40" append"…" />&amp;body=<perch:gallery id="albumDescription" type="textarea" chars="160" append"…" />%20https://waterford.sz/news/photos/album.php?s=<perch:gallery id="albumSlug" />"><i class="icon-email"></i></a></li>
			</ul>
		</div>
    </div>
  </a>
</div>