<div class="card-ctnr">
  <div class="card-3 card-3-hover full-width">
    <a class="no-link" href="<perch:content id="newsletterURL" type="text" label="Newsletter URL" order="4" required="true" help="The full URL to the newsletter MailChimp archive page." />" target="_blank">
      <header class="blog-hero">
        <div class="card-image" style="background: url(<perch:content id="newsletterImage" type="image" order="2" label="Newsletter image" required="true" help="A header image for the newsletter." />)">
        </div>
        <h1 class="card-header"><perch:content id="newsletterTitle" order="1" label="Newsletter name" required="true" help="The title of the newsletter." /></h1>
      </header>
      <div class="card-content">
        <p><perch:content id="newsletterExcerpt" type="textarea" words="100" append="…" count="words" label="Newsletter excerpt" order="3" required="true" help="A summary of the newsletter. Maximum 100 words." /></p>
      </div>
      <div class="card-footer">
        <p class="date float-left"><perch:content id="dateUpdated" format="%B %d, %Y" label="Date updated" help="The date the newsletter was published in the format YYYY-MM-DD (e.g. 2015-09-21)." required="true" /></p>
        <ul id="social" class="float-right">
          <li class="social-item"><a class="social-icon facebook no-link" href="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=<perch:content id="newsletterURL" />', 'Facebook', 'width=600, height=400' )"><i class="icon-facebook"></i></a></li>
          <li class="social-item"><a class="social-icon twitter no-link" href="javascript:window.open('http://twitter.com/share?text=Take%20a%20look%20at%20this%20page%20on%20Waterford.sz&url=<perch:content id="newsletterURL" />', 'Twitter', 'width=600, height=400' )"><i class="icon-twitter"></i></a></li>
          <li class="social-item"><a class="social-icon email no-link" href="mailto:?subject=Take%20a%20look%20at%20this%20page%20on%20Waterford.sz&amp;body=<perch:content id="newsletterURL" />"><i class="icon-email"></i></a></li>
        </ul>
      </div>
    </a>
  </div>
</div>

<perch:after>
  <perch:if exists="paging">
  <div class="full-width">
    <div class="paging">
      <p class="small text-center grey-d"><perch:if exists="not_first_page"><a class="link" href="<perch:blog id="prev_url" encode="false" />">&#8249; Previous</a></perch:if> Page <perch:blog id="current_page" /> of <perch:blog id="number_of_pages" /><perch:blog id="page_links" encode="false" /><perch:if exists="not_last_page"> <a class="link" href="<perch:blog id="next_url" encode="false" />">Next &#8250;</a></p>
      </perch:if>
    </div>
  </div>
  </perch:if>
</perch:after>
