<perch:form id="subscribe" app="perch_mailchimp perch_forms" double-optin="true" send-welcome="true">

	<div class="f-input-wrpr layout-221">
		<perch:input class="f-input" id="firstname" required="true" type="text" mailer="FNAME" placeholder="First Name" />
		<span class="f-underline"></span>
		<perch:error for="name" type="required">
			<span class="error">Please tell us your first name.</span>
		</perch:error>
	</div>
	<div class="f-input-wrpr layout-221">
		<perch:input class="f-input" id="lastname" required="true" type="text" mailer="LNAME" placeholder="Last Name" placeholder="Last Name" />
		<span class="f-underline"></span>
		<perch:error for="name" type="required">
			<span class="error">Please tell us your last name.</span>
		</perch:error>
	</div>
	<div class="f-input-wrpr">
		<perch:input class="f-input" id="email" required="true" type="email" placeholder="What's your email?"  mailer="email" />
		<span class="f-underline"></span>
		<perch:error for="email" type="format">
			<span class="error">Please enter a valid email address.</span>
		</perch:error>
		<perch:error for="email" type="required">
			<span class="error">Please tell us your email address.</span>
		</perch:error>
	</div>
	<perch:input class="b-white" type="submit" value="Subscribe &#8250;" id="btnsubmit" />
	<perch:input type="hidden" value="1" id="confirm" mailer="confirm_subscribe" />

	<perch:success>
		<p>Thank you!</p>
	</perch:success>

</perch:form>