<div class="f-search card-3 f-tq" itemscope itemtype="https://schema.org/SearchAction">
	<perch:form id="search" method="get" action="/search/result.php">
		<div class="f-fx-wrpr" itemprop="potentialAction">
			<i class="icon-search"></i>
			<div class="f-input-fx-wrpr" itemprop="query-input">
				<perch:input type="search" id="q" class="f-input" placeholder="Enter your keywords..." autocomplete="off" required="true"/>
				<span class="f-underline"></span>
			</div>
			<button class="button-fx button-3 b-tq" type="submit">Search<i class="icon-chevron-right"></i></button>
		</div>
	</perch:form>
</div>