<div class="card-ctnr layout-321">
	<a class="no-link" href="<perch:pages id="pagePath" type="hidden" />">
		<div class="card-3 card-3-hover">
			<div class="card-hero">
			    <div class="card-image" style="background: url(<perch:pages id="image" type="image" width="400" />)">
			    </div>
			    <h1 class="card-header medium"><perch:pages id="pageNavText" type="hidden" /></h1>
			</div>
			<div class="card-content">
			  	<p class="small"><perch:pages id="description" type="textarea" chars="200" append="…" /></p>
			</div>
		</div>
	</a>
</div>