<perch:form class="margin-top-05 f-white" id="newsletter" method="post" app="perch_forms">
	<div class="f-fx-wrpr">
		<div class="f-input-fx-wrpr">
			<perch:input class="f-input" type="email" id="email" required="true" placeholder="julia@example.com" title="Please enter your email address." antispam="email" />
			<span class="f-underline"></span>
			<perch:error for="email" type="format">
				<span class="error">Please enter a valid email address.</span>
			</perch:error>
			<perch:error for="email" type="required">
				<span class="error">We need your email address to subscribe you.</span>
			</perch:error>
		</div>
		<div class="button-fx">
			<perch:input class="b-white" id="submit" type="submit" value="Sign Up &#8250;" />
		</div>

		<perch:success>
			<div class="margin-top-05">
		    	<p class="small white">Thank you for signing up! Please click the link in the email we have just sent you to confirm your subscription.</p>
		    </div>
		</perch:success>
	</div>
</perch:form>