<div class="card-ctnr layout-321">
	<div class="card-3 card-3-hover">
		<a class="no-link" href="<perch:content id="file" type="file" label="File" required="true" help="Preferably in PDF format. Avoid editable document formats." />" target="_blank">
			<div class="card-content small">
			  	<div class="download-icon float-left blue">
			    	<i class="icon-download"></i>
			    </div>
			    <div>
			    	<p class="download-name medium"><perch:content id="file-text" type="text" label="File Text" required="true" chars="30" count="chars" help="A short, concise title. Maximum 30 characters." title="true" /></p>
			    </div>
		  	</div>
		</a>
	</div>
</div>
