<a class="no-link" href="<perch:content id="Slider-link" type="text" label="Slide link" required="true" help="Where the slide links. Can be a page on the website (e.g. '/about/campus.php') or an external site (e.g. 'http://uwc.org/')." />">
	<div class="sliders-hero">
	<div class="sliders-slide preserve-3d" style="background-image: url(<perch:content id="Slider-img" type="image" label="Slide image" required="true" width="1440" height="1440" help="Landscape format works best. Should relate to the slide topic. Minimum 1500px, maximum 2500px wide." />)">
	    <div class="vertical-center white text-center">
	      	<h1 class="white m0a large text-shadow"><perch:content id="Slider-header" type="text" label="Slide header" required="true" title="true" chars="12" help="A single, iconic word. Maximum 12 characters." /></h1>
	      	<h2 class="sliders-subheader white text-shadow"><perch:content id="Slider-subheader" type="text" label="Slide subheader" required="true" chars="40" help="A concise description of four to five words. Maximum 40 characters." /></h2>
	        <button class="button-3 slider-button b-tq">
	          	<perch:content id="Slider-btn" type="text" label="Slide button text" required="true" chars="15" help="One to three words that encourage the user to click the button. Maximum 15 characters." /> <i class="icon-chevron-right"></i>
	        </button>
	    </div>
	</div>
	</div>
</a>