<perch:pages id="image" type="image" label="Photo" type="image" width="1920" help="Landscape format works best. Should relate to the page topic. Minimum 1500px, maximum 2500px wide." required="true" />
<perch:pages id="image" type="image" label="Photo" type="image" width="400" required="true" surpress="true" />
<perch:pages id="description" label="Description" type="textarea" size="xs" escape="true" help="A short, concise description of the page content. 200 characters maximum." count="chars" required="true" />

<perch:pages id="keywords" label="Keywords" type="textarea" size="xs" escape="true" help="Separate with commas. Keywords help search engines to index the page." count="chars" divider-before="Search engine optimization" />
<perch:pages id="noindex" label="Do not index" type="checkbox" value="noindex" append="," />
<perch:pages id="nofollow" label="Do not follow links" type="checkbox" value="nofollow" append="," />

<perch:pages id="headerclass" help="Check to remove the space between navigation bar and header on top level pages." type="checkbox" label="Only for top level pages" value="no-margin-subnav" divider-before="Top level page" />level page" />