<meta property="og:site_name" content="<perch:pages id="sitename" type="hidden" />" />
<meta property="og:url" content="<perch:pages id="url" type="hidden" />" />
<meta property="og:title" content="<perch:pages id="pageNavText" type="hidden" />" />
<meta property="og:image" content="<perch:pages id="domain" type="hidden" /><perch:pages id="image" type="image" width="1920" />" />
<meta property="og:description" content="<perch:pages id="description" type="hidden" />" />
<meta property="og:type" content="article" />