<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="<perch:pages id="twittername" type="hidden" />" />
<meta name="twitter:title" content="<perch:pages id="pageNavText" type="hidden" />" />
<meta name="twitter:description" content="<perch:pages id="description" type="hidden" />" />
<meta property="twitter:image" content="<perch:pages id="domain" type="hidden" /><perch:pages id="image" type="hidden" width="1440" />" />
<meta name="twitter:url" content="<perch:pages id="url" type="hidden" />" />